<h1>Beaver Stationery Home page</h1>
<div class="homepageDescription">
    <p>Beaver Stationery is a retail store located in Portland, OR, specializing in stationery, office supplies, and art materials. 
    The store serves approximately 6,000 customers and processes around 18,000 transactions annually.
    The store maintains an inventory of 2,000 products sourced from 30 suppliers and employs 10 staff members.
    The company needs a database-driven management system to track product inventory levels, record sales and loyalty programs, and monitor employee sales performance to improve operational efficiency.</p>
</div>n-osu
